<h1>Editing Postgresql View Person</h1>

<%= render 'form', postgresql_view_person: @postgresql_view_person %>

<%= link_to 'Show', @postgresql_view_person %> |
<%= link_to 'Back', postgresql_view_people_path %>
