<h1><%= t ('.title') %></h1>

<%= render 'form', sims_biga_license: @sims_biga_license %>

<%= link_to t('links.show'), @sims_biga_license %> |
<%= link_to t('links.back'), sims_biga_licenses_path %>
