<%= form_for(sims_biga_vehicle_person) do |f| %>
  <% if sims_biga_vehicle_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sims_biga_vehicle_person.errors.count, "error") %> prohibited this sims_biga_vehicle_person from being saved:</h2>

      <ul>
      <% sims_biga_vehicle_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
