<h1>Editing Sims Biga Vehicle Person</h1>

<%= render 'form', sims_biga_vehicle_person: @sims_biga_vehicle_person %>

<%= link_to 'Show', @sims_biga_vehicle_person %> |
<%= link_to 'Back', sims_biga_vehicle_people_path %>
