<li>
<a href="javascript:;" data-toggle="collapse" data-target="#empenhos"><i class="glyphicon glyphicon-ok"></i> Sistema de Empenhos <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="empenhos" class="collapse">
    <li>
        <a href="/interests">Empenhos</a>
    </li>
    <li>
        <a href="/modalities">Cadastro de Materiais/Serviços</a>
    </li>
    <li>
        <a href="/companies">Cadastro das Empresas</a>
    </li>
</ul>
</li>