<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <%= current_user.login(current_user.username) %> <b class="caret"></b></a>                   
    <ul class="dropdown-menu">
        <li>
            <a href="<%= sims_person_path(current_user.person_id(current_user.username))%>"><i class="fa fa-fw fa-user"></i> Profile</a>
        </li>
        <li>
            <a href="http://www.gmail.com"><i class="fa fa-fw fa-envelope"></i> Email</a>
        </li>
        <li>
            <a href="http://www.gapcg.intraer"><i class="fa fa-fw fa-gear"></i> GAP-CG</a>
        </li>
        <li class="divider"></li>
        <li>
            <a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
            <%#= link_to t('layout.signout'), destroy_user_session_path, method: :delete, class: "fa fa-fw fa-power-off"%>
        </li>
    </ul>                      
</li>