<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#cautelas"><i class="glyphicon glyphicon-ok"></i> Sistema Cautelas <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="cautelas" class="collapse">
        <li>
            <a href="/loans">Cadastrar Cautelas</a>
        </li>
        <li>
            <a href="/modalities">Cautelas Pendentes</a>
        </li>
        <li>
            <a href="/modalities">Pesquisar - Cautelas</a>
        </li>
    </ul>
</li>