<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#materialcarga"><i class="glyphicon glyphicon-ok"></i> Material Carga <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="materialcarga" class="collapse">
        <li>
            <a href="/appointments">Material Carga</a>
        </li>        
        <li>
            <a href="/assistent_appointments">Auxiliar - Material Carga</a>
        </li>
    </ul>
</li>