<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#sims"><i class="glyphicon glyphicon-ok"></i> SIMS <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="sims" class="collapse">
        <li>
             <a href="javascript:;" data-toggle="collapse" data-target="#militares"><i class="glyphicon glyphicon-ok"></i> Militares <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="militares" class="collapse">
                <li>
                    <a href="/sims_people">Efetivo</a>
                </li>
                <li>
                    <a href="/sims_people/index_desligados">Transferidos / Desligados</a>
                </li>
            </ul>                                                                
        </li>
        <li>
            <a href="/sims_dependents">Dependentes</a>                                
        </li>
        <li>       
            <a href="/sims_employees">Prestador de Serviço / Escola / CEINF</a>
        </li>
        <li>       
            <a href="/sims_employees/index_inativos_pensionistas">Inativos e Pensionistas</a>
        </li>
        <li>
             <a href="javascript:;" data-toggle="collapse" data-target="#biga"><i class="glyphicon glyphicon-ok"></i> BIGA <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="biga" class="collapse">
                <li>
                    <a href="/sims_biga_licenses">CNHs</a>                                        
                </li>
                <li>
                    <a href="/sims_biga_licenses/cnh_vencidas">Cnhs Vencidas</a>
                </li>
                <li>
                    <a href="/sims_biga_vehicle_people">Veículos</a>
                </li>                                    
            </ul>                                                                
        </li>
            <li>
                <a href="/sims_cav_visitors">Visitantes</a>
            </li>
            <li>
                <a href="/sims_researches">Pesquisa Avançada</a>
            </li>
        <li>
    </ul>
</li>  